{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pagename %}страница{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'task1/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" >
</head>

<body>
    <nav>
        {% block menu %}
        <a href="{% url 'task1_main' %}">главная</a>
        <a href="{% url 'task1_shop' %}">магаз</a>
        <a href="{% url 'task1_cart' %}">корзина</a>
        <a href="{% url 'task1_sign_up' %}">зарегаться</a>
        {% endblock %}
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
