{% extends 'first_task/menu.html' %}

{% block pagename %}новости{% endblock %}

{% block menu %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="news-container">
  <h1>новости</h1>
  <hr>
  <ul>
    {% for item in news %}
    <li class="news-item">
      <h2>{{ item.title }}</h2>
      <p class="news-text">{{ item.content }}</p>
      <div class="date-container">
        <p class="date">{{ item.date }}</p>
      </div>
      <hr>
    </li>
    {% empty %}
    <li>ничего нового</li>
    {% endfor %}
  </ul>

  <div class="pagination">
    <span class="step-links">
      {% if news.has_previous %}
      <a href="?page=1"> &lt&lt</a>
      <a href="?page={{ news.previous_page_number }}">&lt </a>
      {% endif %}
    </span>

    <span class="current">
      {{ news.number }}
    </span>

    <span class="step-links">
      {% if news.has_next %}
      <a href="?page={{ news.next_page_number }}">&gt </a>
      <a href="?page={{ news.paginator.num_pages }}">&gt&gt;</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock %}
